// Couleurs
$green-primary: #62b36b;
$green-light: #7fff7a;
$dark-bg: #202123;
$dark-surface: #2b2c2f;
$dark-text: #f3f3f3;
$dark-border: #3c3d3f;

//fonts
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// radius
$input-radius: 6px;