@use "sass:color";
@use "./variables" as *;
@use "../components/Header/header";
@use "../components/Footer/footer";
@use "../pages/createEmployee/create-employee";
@use "../components/modal/modal";

// Styles globaux
body {
  background-color: $dark-bg;
  color: $dark-text;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}
