@use "sass:color";
@use "../../styles/variables" as *;

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.modal-success {
  background: $dark-surface;
  border-radius: 1.2rem;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  padding: 2.5rem 2rem 2.5rem 2rem;
  min-width: 340px;
  min-height: 240px; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  height: 100%; 
}

@keyframes slideIn {
  from { transform: translateY(-40px) scale(0.95); opacity: 0; }
  to   { transform: translateY(0) scale(1); opacity: 1; }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  color: $dark-text;
  width: 100%;
}

.modal-icon {
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
}

.modal-close-x {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background: $accessible-green;
  border: none;
  border-radius: 8px;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.7rem;
  color: #fff; // écriture blanche de base
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, color 0.2s;
  &:hover {
    background: color.adjust($accessible-green, $lightness: -20%);
    color: $accessible-green;
  }
}

.modal-message {
  text-align: center;
  color: $green-light;
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
}


.modal-close-btn {
  margin-top: auto; // Pousse le bouton en bas
  margin-bottom: -1rem;
  display: block;
  background: $accessible-green;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 2.2rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  &:hover {
    background: color.adjust($accessible-green, $lightness: -20%);
    color: $accessible-green;
  }
}