@use "sass:color";
@use "../../styles/variables" as *;

// Style de l'input date
.date-picker {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid $green-light;
  background-color: $green-light;
  color: $accessible-text;
  font-weight: 500;

  &::placeholder {
    color: color.adjust($accessible-text, $lightness: 20%);

  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(46, 125, 50, 0.5);
  }
}

// ✅ Overrides GLOBAUX pour react-datepicker
:global(.react-datepicker) {
  font-family: $font-main;
  background-color: $dark-surface;
  border: 1px solid $green-light;

  .react-datepicker__header {
    background-color: $green-light;
    border-bottom: none;
  }

  .react-datepicker__current-month,
  .react-datepicker__day-name,
  .react-datepicker__day {
    color: $accessible-text;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: color.scale($green-light, $lightness: -10%);
    color: $accessible-text;
  }

  .react-datepicker__day--today {
    border: 1px solid $green-light;
  }
}
